/* Utilities */
.text-upper {
    text-transform: uppercase;
}

.centered-Y {
    transform: translateY(50%);
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.align-left {
    text-align: left;
}

/* Navbar */
.navbar {
    background-color: #2c3e50;
    height: 90px;
    font-size: 18px;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 24px;
}

.navbar .container a,
.navbar .navbar-nav li a {
    color: #fff;
}

/* Jumbotron */
.jumbotron {
    background-color: #1abc9c;
    height: 590px;
}

.jumbotron img {
    height: 250px;
}

.jumbotron h2 {
    font-size: 60px;
}

.jumbotron p {
    font-size: 25px;
}

/* Portfolio */
.portfolio img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* About */
.about .jumbotron {
    height: 100%;
}

.about .jumbotron .text-about {
    padding-bottom: 10px;
}

.about .jumbotron .text-about p {
    font-size: 20px;
}

.about .jumbotron .text-upper {
    font-weight: 700;
}

.about .btn-primary {
    background-color: #1abc9c;
    border-color: #fff;
    font-size: 20px;
}

.about .btn-primary i {
    padding-right: 10px;
}

@media all and (max-width: 970px) {
    .about .jumbotron .text-about p {
        margin-right: 40px;
    }
}