/* Utilities */
.text-upper {
    text-transform: uppercase;
}

.centered-Y {
    transform: translateY(50%);
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.align-left {
    text-align: left;
}

.relative {
    position: relative;
}

.bolded-title {
    font-size: 50px;
    font-weight: 700;
}

.star,
.black-star {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
}

.star::before,
.star::after {
    content: "";
    display: inline-block;
    width: 18%;
    height: 4px;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 4px;
    margin: 25px;
}

.black-star::before,
.black-star::after {
    content: "";
    display: inline-block;
    width: 18%;
    height: 4px;
    vertical-align: middle;
    background-color: #000000;
    border-radius: 4px;
    margin: 25px;
}

/* 
  _   _             _                
 | \ | | __ ___   _| |__   __ _ _ __ 
 |  \| |/ _` \ \ / / '_ \ / _` | '__|
 | |\  | (_| |\ V /| |_) | (_| | |   
 |_| \_|\__,_| \_/ |_.__/ \__,_|_|   
                                      
*/
.navbar {
    background-color: #2c3e50;
    height: 90px;
    font-size: 18px;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 24px;
}

.navbar .container a,
.navbar .navbar-nav li a {
    color: #fff;
}

/* 
      _                 _           _                   
     | |_   _ _ __ ___ | |__   ___ | |_ _ __ ___  _ __  
  _  | | | | | '_ ` _ \| '_ \ / _ \| __| '__/ _ \| '_ \ 
 | |_| | |_| | | | | | | |_) | (_) | |_| | | (_) | | | |
  \___/ \__,_|_| |_| |_|_.__/ \___/ \__|_|  \___/|_| |_|
                                                         
*/
.jumbotron {
    background-color: #1abc9c;
    height: 100%;
}

.jumbotron img {
    height: 250px;
}

.jumbotron h2 {
    font-size: 60px;
}

.jumbotron p {
    font-size: 25px;
}

/* 
  ____            _    __       _ _       
 |  _ \ ___  _ __| |_ / _| ___ | (_) ___  
 | |_) / _ \| '__| __| |_ / _ \| | |/ _ \ 
 |  __/ (_) | |  | |_|  _| (_) | | | (_) |
 |_|   \___/|_|   \__|_|  \___/|_|_|\___/ 
                                           
*/
.portfolio img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.overlay {
    opacity: 1;
    transition: .5s ease;
}

.hidden-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hidden-text i {
    color: #000;
    font-size: 50px;
}

.relative:hover .overlay {
    opacity: 0.3;
}

.relative:hover .hidden-text {
    opacity: 1;
}

/* 
     _    _                 _   
    / \  | |__   ___  _   _| |_ 
   / _ \ | '_ \ / _ \| | | | __|
  / ___ \| |_) | (_) | |_| | |_ 
 /_/   \_\_.__/ \___/ \__,_|\__|
                                 
*/
.about .jumbotron {
    height: 100%;
}

.about .jumbotron .text-about {
    padding-bottom: 10px;
}

.about .jumbotron .text-about p {
    font-size: 20px;
}

.about .jumbotron .text-upper {
    font-weight: 700;
}

.about .btn-primary {
    background-color: #1abc9c;
    border-color: #fff;
    font-size: 20px;
}

.about .btn-primary i {
    padding-right: 10px;
}

/* 
   ____            _             _   
  / ___|___  _ __ | |_ __ _  ___| |_ 
 | |   / _ \| '_ \| __/ _` |/ __| __|
 | |__| (_) | | | | || (_| | (__| |_ 
  \____\___/|_| |_|\__\__,_|\___|\__|
                                      
*/
.contact {
    max-height: 100%;
}

.contact form {
    margin-bottom: 60px;
}

.contact .form-control {
    border-right: 0;
    border-top: 0;
    border-left: 0;
    box-shadow: none;
}

.contact label {
    font-weight: 400;
    font-size: 20px;
}

.contact button {
    margin-top: 15px;
}

.contact .btn-success {
    background-color: #1abc9c;
    font-size: 18px;
}

/* 
  _____           _            
 |  ___|__   ___ | |_ ___ _ __ 
 | |_ / _ \ / _ \| __/ _ \ '__|
 |  _| (_) | (_) | ||  __/ |   
 |_|  \___/ \___/ \__\___|_|   
                                
*/
footer {
    color: #fff;
}

footer a {
    color: #1abc9c;
}

.main-footer {
    height: 100%;
    background-color: #3a546d;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 20px;
}

.main-footer i {
    padding: 25px;
    border: 1px solid #fff;
    border-radius: 60px;
    font-size: 20px;
}

.main-footer h3 {
    font-size: 25px;
}

.last-footer {
    max-height: 100%;
    background-color: #2c3e50;
    padding-top: 50px;
}

/* Media queries */
@media all and (max-width: 970px) {
    .about .jumbotron .text-about p {
        margin-right: 40px;
    }
}